In [7]:
my_list = [45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6]
#Print the 5th element in the list
print (my_list[4])

39.0

In [8]:
#Append 55.2 to my_list
my_list.append(55.2)
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [9]:
#Remove the 6th element in the list
my_list.pop(5)
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [10]:
#Iterate over the list to print data points greater than 45
x = [i for i in my_list if i>45]
print(x)

[45.4, 47.4, 45.8, 55.2]

In [11]:
#Import the numpy library using the following command – import numpy
import numpy

In [19]:
#Declare numpy array with the same data points as in my_list using numpy.array()
numpy.array(my_list)

array([ 45.4,  44.2,  36.8,  35.1,  39. ,  47.4,  41.1,  45.8,  35.6,  55.2])

In [24]:
#Compute the mean and standard deviation using numpy.mean() and numpy.std() of the above array
numpy.mean(numpy.array(my_list))

42.560000000000002

In [25]:
numpy.std(numpy.array(my_list))

5.9709630713981143

In [28]:
#Use logical referencing to get only those values that are less than 45
numpy.where(numpy.array(my_list) < 45)

(array([1, 2, 3, 4, 6, 8], dtype=int64),)

In [30]:
#Compute the max and min of the array using numpy.max() and numpy.min()
numpy.max(numpy.array(my_list))

55.200000000000003

In [31]:
numpy.min(numpy.array(my_list))

35.100000000000001

In [32]:
#Import the pandas library – import pandas
import pandas

In [33]:
#Read the IRIS dataset into iris using pandas.read_csv(). Data file – 
pandas.read_csv(iris.csv)

NameError: name 'iris' is not defined

In [34]:
#Using iris.head(), display the head of the dataset
iris.head()

NameError: name 'iris' is not defined

In [35]:
#Use DataFrame.drop() to drop the id column
DataFrame.drop(id)

NameError: name 'DataFrame' is not defined

In [36]:
#Subset dataframe to create a new data frame that includes only the measurements for the setosa species

In [37]:
#Use DataFrame.describe() to get the summary statistics
DataFrame.describe()

NameError: name 'DataFrame' is not defined

In [38]:
#Use DataFrame.groupby() to create grouped data frames by Species and compute summary statistics using DataFrame.describe()
DataFrame.groupby()

NameError: name 'DataFrame' is not defined

In [39]:
#Use DataFrame.boxplot() to plot boxplots by Species
DataFrame.boxplot()

NameError: name 'DataFrame' is not defined

In [ ]:
#Plot a scatter matrix plot using the seaborn library. Use the following to load and plot 
import seaborn as sns
sns.pairplot(iris,hue='Species')
Seaborn.pairplot(dataframe,by=’column_name’)